body {
  font-family: arial, serif;
}

h1 {
  color: darkblue;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: darkblue;
  font-family: arial, serif;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 19px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 3px solid darkblue;
  border-radius: 0.2px solid darkblue;
}
