body {
  font-family: VictorMono-Bold, serif;
  src: url(VictorMono-Regular.otf);
  text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: rgba(137, 172, 235, 0.2);
  color: rgba(137, 172, 235, 0.2);
}

h1 {
  color: #467ee0;
  font-size: 24px;
  text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #467ee0;
  font-size: 16px;
  text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 100;
  height: 19px;
  line-height: 19px;
  text-transform: capitalize;
}
.title {
  margin-bottom: 10px;
}
.tagline {
  font-family: VictorMono-Bold, serif;
  src: url(VictorMono-Regular.otf);
  text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app-inside-the-inside {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  opacity: 100%;
}

.weather-app-inside {
  padding: 45px;
  background-image: url("https://i.pinimg.com/originals/bb/e5/76/bbe576326b4defbe9e0d724286f872ea.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app {
  border: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  opacity: 0.8;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 60px;
  width: 64px;
}

#temperature {
  font-size: 64px;
  font-weight: 400;
  color: #467ee0;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #467ee0;
}

.weather-temperature .active {
  color: #467ee0;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #467ee0;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  color: #467ee0;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: #467ee0;
}
